*{
    margin: 0;  padding: 0; box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
header{
    width: 94%; margin: 0 auto;

}
.navigation{
   
    width: 97%; margin: 80px auto;
    display: flex;  justify-content: space-between;
}
.left_nav{
    display: flex; width: 42%;
    align-items: center;
}
.left_nav h1{
    font-size: 2.25rem;
    font-weight: 800;
}
.right_nav{
    width: 57%
}
.menu_list{
    display: flex; justify-content: space-evenly; height: 99%;
    align-items: center;
}
.menu_list li{
    list-style: none;
    font-size: 1.112rem;
    font-weight: 700;
}

.humbergur{
   
    margin: auto 0; display: none;
    width: 55px;
}

/* it is the End of nav bar decoration

         and start of another portion*/


.banner{
    width: 97%; margin:30px auto;
    min-height: 525px; border: 1px solid black;
    background-image:url(B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png) ;
    background-size: cover; background-repeat: no-repeat;
}
.banner h1{
    font-size: 4rem;
    color: #fff; text-align: center;
    margin-top: 40px;
}
.banner p{
    color: #fff; text-align: center;
    font-size: 1rem;
}
.btn_container{
    width: 81%; display: flex; flex-wrap: wrap;
    min-height: 72px; justify-content: space-evenly;
    border-radius: 8px; margin: 35px auto; align-items: center;
    background: rgba(255, 255, 255, 0.30); gap: 25px;
}
.inp{
    width: 172px; height: 52px;
    border-radius: 8px; border: none;
}
.excep{
    background-color:#ff5400;
    position: absolute;
}
input::placeholder{
    font-size: 1rem;
    padding-left: 35px;
    color: rgba(19, 19, 24, 0.5);
}
.exdiv{
    position: relative;
}
.divex{
    position: absolute;
    z-index: 3;
    top:18px ;left: 10px;
}



/* it is the End of banner decoration

         and start of another portion*/



main{
    width: 94%;
    margin: 0 auto;
}
.main_content{
    margin: 100px auto; 
    width: 97%; display: flex;
    justify-content: space-between;
}
.Text{
    width: 50%;
}
.Image{
    width: 47%;
}
.Text h1{
    color: #131318; margin-top: 10px;
    font-size: 2.5rem; font-weight:700 ;
}
.Text p,li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem; line-height: 26px;
}
.Text li{
    margin-left: 28px;
}
.btn{
    width: 175px; height: 53px;
    background-color: #ff5400;
    font-size: 1.25rem; color: #fff;
    font-weight: 700; border: none; 
    border-radius: 8px; margin-top: 29px;
}


/* it is the End of main_content decoration

         and start of another portion*/


.distination{
    min-height: 950px; display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: 
    "m m m m m m i i i i i i"
    "s s s s n n n n n k k k"
    "b b b b b B B B B B B B"; gap:10px;
    margin-top: 100px;
}
.maldiv{
    grid-area: m; border-radius: 7px; display: flex;
     justify-content: center; align-items: center;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 5.png);
    background-size: cover; background-repeat: no-repeat;
}
.indoneshia{
    grid-area: i;border-radius: 7px;justify-content: center; align-items: center;
    display: flex;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 8.png);
    background-size: cover; background-repeat: no-repeat;
}
.srilanka{
    grid-area: s;border-radius: 7px; display: flex;
    justify-content: center; align-items: center;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 6.png);
    background-size: cover; background-repeat: no-repeat;
}
.north{
    grid-area: n;border-radius: 7px;display: flex;
    justify-content: center; align-items: center;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 7.png);
    background-size: cover; background-repeat: no-repeat;
}
.kashmir{
    grid-area: k;border-radius: 7px;display: flex;
    justify-content: center; align-items: center;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 9.png);
    background-size: cover; background-repeat: no-repeat;
}
.bangla{
    grid-area: b;border-radius: 7px;display: flex;
    justify-content: center; align-items: center;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 10.png);
    background-size: cover; background-repeat: no-repeat;
}
.Bandar{
    grid-area: B;border-radius: 7px;display: flex;
    justify-content: center; align-items: center;
    background-image: url(B9A2-Hero-Travel/Images/Rectangle\ 11.png);
    background-size: cover; background-repeat: no-repeat;
}

.distination h1{
      font-size: 1.75rem;
      font-weight: 800;
      color: #fff;
}
.choose_distination{
    font-size: 2.8rem; text-align: center;
    font-weight: 800;
}
.how_choose{
    font-size: 1rem; font-weight: 600;
    color: rgba(19, 19, 24, 0.70);
    text-align: center; margin-top: 30px;
}




/* it is the End of banner decoration

         and start of another portion*/



section{
    width: 98%; display: flex; justify-content: space-evenly; flex-wrap: wrap;
    flex-wrap: wrap; gap: 20px; margin: 90px auto; border: 1px solid palegoldenrod;
}
.sec_div{
    width: 49%; border:1px solid black;
    min-height: 340px;  position: relative;
}
.one{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}
.two{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.three{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.before_section{
    color: #131318;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 90px;
}
.after_heading{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: 20px;
     font-size:1rem;
     font-style: normal;
    font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sec_div img{
    position: absolute;
    top: 30px; left: 30px;
}
.special{
    transform: rotate(45deg);
}
section h1{
    color: #131318;
text-align: center;
position: absolute;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
top: 120px; left: 30px;
}
section p{
    position: absolute;
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    top: 154px; left: 30px;
}